:root {
    --main-color: #9fcb22;
    --dark-main: #14462e;
    --back-blue: #eef7fc;
    --red: #d9485b;
    --black: #000;
    --white: #fff;
    --transition: 0.5s;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}
.container {
    margin-inline: auto;
    padding-inline: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 950px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    background: #F6FAFB url(../image/background2.png) center no-repeat;
    height: 60vh;
    margin-block-end: 150px;
    position: relative;
}

@media (max-width:991px) {
    .header {
        background-position: right;
    }
    .links__item {
        display: none;
    }
}

.header .container {
    padding-block: 30px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.sliceHead {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
@media (min-width:991px) {
    .links__item {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
   
}
.links__item li a {
    font-size: 19px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: var(--black);
    position: relative;
    transition: var(--transition);
    opacity: 0.5;


}
.links__item li a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 2px;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}
.links__item li a:hover::before {
    width: 100%;
}
.links__item li:hover a {
    opacity: 1;
}
@media (max-width:767px) {
    .nav__icons {
        display: none;
    }
}
.nav__icons a i {
    background-color: white;
    padding: 13px;
    border-radius: 50%;
    color: var(--main-color);
    margin-inline: 2px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    transition: var(--transition);
}
.nav__icons a:last-child{
    position: relative;
}
.nav__icons a:last-child span {
    position: absolute;
    right: 0;
    font-size: 8px;
    background-color: var(--black);
    padding-inline: 5px;
    padding-block: 3px;
    border-radius: 50%;
    color: white;
}
.nav__icons a i:hover {
    background-color: var(--back-blue);
    color: var(--black);
    transform: scale(1.1) rotate(7deg);
}
.header__toggle-menu i {
    color: var(--dark-main);
    font-size: 20px;
    padding: 12.8px 20.8px;
    border-radius: 50%;
    transition: var(--transition);
    position: absolute;
    right: 24px;
    top: 25%;
}
@media (min-width:768px) {
    .header__toggle-menu i {
        display: none;
    }
    .bottom-navbar {
        display: none;
    }
}
.bottom-navbar {
    background-color: var(--main-color);
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    text-align: center;
    z-index: 10000;
}
.bottom-navbar a {
    color: white;
    padding: 16px;
    font-size: 22px;
}

.header__constant-title {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 375px;
    height: 190px;
    padding: 48px;
    text-align: center;
    transition: var(--transition);
    border-radius: 7px;
    overflow: hidden;
}
.header__constant-title:hover {
    border-block: 2px solid var(--main-color);
    transition: var(--transition);
}
.header__constant-title::before,
.header__constant-title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    background-color: black;
    top: 50%;
    transform: translateY(-50%)
}

.header__constant-title::before {
    inset-inline-start: 0;
}
.header__constant-title::after {
    inset-inline-end: 0;
}
.header__constant-title:hover::after,
.header__constant-title:hover::before {
    height: 100%;
    transition: 1s;
    
}
@media (max-width:768px) {
    .header__constant-title {
        width: 97%;
    }
}
.header__constant-title span {
    font-size: 20.3px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
}
.header__constant-title span a {
    color: var(--main-color);
}
.header__constant-title h2 {
    font-size: 40px;
}

.featurePrice {
    margin-block-end: 144px;
}
.featurePrice .container {
    display: flex;
    gap: 48px;
}
.featurePrice img {
    width: 610px;
}

.featurePrice__text {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.featurePrice__text h2 {
    font-size: 44.8px;
    margin-block-end: 16px;
}
.featurePrice__text p {
    font-size: 20px;
}
.featurePrice__text .p-s {
    margin-block-start: 16px;
}
@media (max-width:1199px) {
    .featurePrice img {
        width: 450px;
    }
    .featurePrice__text h2 {
        font-size: 37px;
    }
}
@media (max-width:991px) {
    .featurePrice .container {
        flex-direction: column;
        text-align: center;
    }
    .featurePrice img {
        margin: 0 auto;
        width: 100%;
    }
}
@media (max-width:767px) {
    .featurePrice img {
        width: 370px;
    }
}
.our {
    height: 780px;
    background-color: var(--back-blue);
}

.our .container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    block-size: 100%;
}

.our .box {
    inline-size: 540px;
    background-color: var(--white);
    border-block-start: 3px solid var(--main-color);
    block-size: 510px;
    padding: 64px 48px;
}
.our .box img {
    inline-size: 79px;
    margin-block-end: 10px;
}
.our .box h2 {
    text-transform: capitalize;
    margin-block-end: 16px;
    font-size: 40px;
}
.our .box p {
    line-height: 1.5;
    font-size: 20px;
    margin-block-end: 64px;
}
@media (max-width:767px) {
    .our .container {
        flex-direction: column;
    }
    .our .box  {
        inline-size: 340px;
        block-size: 100%;
        padding: 44px 28px;
        text-align: center;
    }
    .our {
        height: 100%;
        padding-block: 50px;
    }
    .our .box img,
    .our .btn {
        margin-block-end: 5px;
        margin-inline: auto;
    }
}

/* start video  */
.video {
    margin-block-end: 144px;
}
.video__box {
    width: 1110px;
    height: 640px;
    position: relative;
}
.video__box video {
    inline-size: 100%;
    position: relative;
    block-size: 100%;
}
.video__box img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
@media (max-width:1199px) {
    .video__box  {
        width: 100%;
        block-size: fit-content;

    }
}
        
