:root {
  --main-color: #9fcb22;
  --dark-main: #14462e;
  --back-blue: #eef7fc;
  --red: #d9485b;
  --black: #000;
  --white: #fff;
  --transition: 0.5s;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.main-title {
  margin-block-end: 48px;
  text-align: center;
  text-transform: capitalize;
}
.main-title span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20.5px;
  font-family: sans-serif;
}
.main-title h2 {
  font-size: 44.8px;
}
@media (max-width: 767px) {
  .main-title h2 {
    font-size: 40.8px;
  }
}
a {
  text-decoration: none;
}
.container {
  margin-inline: auto;
  padding-inline: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  padding: 12.5px 22px;
  transition: var(--transition);
  color: white;
  width: fit-content;
    background-color: var(--main-color);
}
.box {
  background-color: var(--back-blue);
  position: relative;
  height: 480px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.box:hover {
  transition: 0.8s;
  transform: translateY(-8px);
}
.fav {
  position: absolute;
  inset-block-start: 16px;
  inset-inline-end: 16px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.fav:hover {
  background-color: var(--main-color);
  transition: var(--transition);
  transform: rotate(360deg) scale(1.1);
}
.fav i {
  padding: 16px;
  color: black;
}
.box .info {
  text-align: center;
  line-height: 2;
  text-transform: capitalize;
}
.box .img {
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.info .fa-solid {
  color: gold;
}
.info .fa-regular {
  color: #ccc;
  opacity: 0.5;
}
.box .info h3 {
  font-size: 25.5px;
  font-weight: bold;
}
.box .info p {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-color);
}
.box .info p del {
  font-weight: 300;
  color: #ccc;
  margin-right: 4.8px;
}

.box .info .btn {
  background-color: var(--dark-main);
  padding: 12.5px 22px;
  transition: var(--transition);
  color: white;
  display: block;
  width: fit-content;
  margin: 7px auto;
}

.treading__content .box .info .btn:hover {
  background-color: var(--main-color);
  transition: 0.7;
}
