
/* start category */
.category .container {
  margin: 144px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
}
@media (max-width: 991px) {
  .category__box {
    width: 330px;
  }
  .category .container {
    gap: 19px;
  }
}
@media (max-width: 767px) {
  .category .container {
    grid-template-columns: 1fr;
  }
  .category__box {
    width: 330px;
  }
}

.category__box {
  width: 350px;
  height: 300px;
  border-radius: 7px;
  position: relative;
  padding: 0;
  margin: 0 auto;
}
.category__text {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  left: 32px;
  text-transform: uppercase;
  color: white;
}
.right-left {
  animation: rightAndLeft 3s linear infinite;
  position: relative;
}
.category__box h3 {
  font-size: 24px;
  margin-block-end: 24px;
  line-height: 1.5;
  font-weight: 400;
}
.category__box a {
  color: white;
  font-weight: 400;
}
.category .category__box:nth-child(1) {
  background: #9fded4 url(../image/cat-1.png) no-repeat;
  background-position-x: 105%;
  background-position-y: 115%;
}
.category .category__box:nth-child(2) {
  background: #fa9522 url(../image/cat-2.png) no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}
.category .category__box:nth-child(3) {
  background: #aedf23 url(../image/cat-3.png) no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}
/* start treading */
.treading {
  margin: 144px auto;
}
.treading__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
}


/* start banner */
.banner {
  margin: 144px auto;
}
.banner .container {
  padding: 0 48px;
  height: 220px;
  background: url(../image/halfimg.png) center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 767px) {
  .banner .container {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }
}
.banner__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__left h3 {
  font-size: 52px;
  color: white;
  font-weight: 500;
}
.banner__left h3 span {
  color: yellow;
  font-weight: bolder;
}
.banner__left a {
  color: white;
  margin-block-start: 9px;
}
.banner__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__right {
  font-size: 44px;
  color: white;
  font-weight: 400;
}

/* start about us  */
.about {
  background: url(../image/BackgroundAbout.png);
  height: 790px;
  margin-block-end: 144px;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  position: relative;
}
.about img {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  transform: translateY(-50%);
}
.about__content {
  max-width: 610px;
  height: 647px;
  background-color: white;
  border-block-start: 3px solid black;
  margin-inline-start: 565px;
  padding: 80px 48px;
}
@media (max-width: 991px) {
  .about__content {
    margin-inline-start: 0;
  }
}
@media (max-width: 767px) {
  .about__content {
    width: 95%;
    height: 92%;
  }
}
.about__content:hover {
  border-color: var(--main-color);
  transition: 1.5s;
}
.about__span {
  font-size: 20.8px;
  color: var(--main-color);
  font-weight: 600;
}
.about__title-h3 {
  font-size: 44.8px;
  margin-block: 16px;
  line-height: 1;
}
.about__para {
  font-size: 19px;
  margin-block-end: 16px;
  line-height: 1.5;
}
.p-second {
  font-size: 19.2px;
  margin-block-end: 48px;
}
.about__btn:hover {
  padding-inline: 30px;
  background-color: var(--main-color);
}

.best-seller {
  min-height: 600px;
  margin-block-end: 144px;
}

.best-seller__nav .active {
  color: var(--main-color);

}



















